.barra-navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background-color: rgb(49, 124, 194);
    padding: 15px;
    color: white;
}

.links-barra {
    display: flex;
    list-style: none;
}

.link {
    margin-right: 1rem;
}
